<form [formGroup]="formData" >
  <p>
    名稱：
    <input type="text" formControlName="name" placeholder="Enter name" />
  </p>

  <p>
    內容：
    <input type="text" formControlName="content" placeholder="Enter name" />
  </p>
</form>
<p>
  <button type="submit" (click)="addMessage()">新增留言</button>
</p>
<!-- 用 ng-container 來迴圈就不需要額外再包一層了 -->
<ng-container *ngFor="let message of messages">

  <p>
    留言人： {{ message.name }}
  </p>

  <p>
    訊息內容： {{ message.content }}
  </p>
  <p>
    時間： {{ message.date | date: 'yyyy/MM/dd HH:mm:ss' }}
  </p>
  <p>------------------------------------------------------</p>

</ng-container>


<table>
  <thead>
    <tr>
      <th></th>
      <th>列車進入月台車站之站名</th>
      <th>行駛目的地</th>
      <th>資料更新日期</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list; let i = index">
      <td>{{i+1}}</td>
      <td>{{item.Station}}</td>
      <td>{{item.Destination}}</td>
      <td>{{item.UpdateTime | date: 'yyyy/MM/dd HH:mm:ss'}} </td>
    </tr>
  </tbody>
</table>
<p [appHighlight]="pink">Highlight me!</p>
